BOT_TOKEN=
BOT_ADMIN_ID=
SEARCH_BOT_USERNAME=
MONGODB_URI=
API_ID = 
API_HASH = 
OPENAI_API_KEY=
OPENAI_MODEL=
OPENROUTER_API_KEY_1=
OPENROUTER_API_KEY_2=
OPENROUTER_MODEL=
SEARCHBOT_DEBUG=0
LOG_ONLY_SEARCHBOT=0
TESTMODE=0
AI_BATCH_INTERVAL_MS=
JOIN_PROMPT_RESEND_MS=
SESSION_STRING=
SESSION=
BOT_USERNAME = 
AI_BATCH_SIZE=
AI_BATCH_TEXT_CHARS=
OPENROUTER_TIMEOUT_MS=
